name: TidesDB Go CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tidesdb-go repo
        uses: actions/checkout@v4
        with:
          repository: tidesdb/tidesdb-go
          path: tidesdb-go

      - name: Checkout tidesdb repo
        uses: actions/checkout@v4
        with:
          repository: tidesdb/tidesdb
          path: tidesdb

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libzstd-dev liblz4-dev libsnappy-dev

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install zstd lz4 snappy

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'
          vcpkg install zstd lz4 snappy

      - name: Configure and build tidesdb (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          cd tidesdb
          cmake -DTIDESDB_WITH_SANITIZER=OFF --debug-output -S . -B build
          cmake --build build
          sudo cmake --install build

      - name: Update library cache (Linux)
        if: runner.os == 'Linux'
        run: sudo ldconfig

      - name: Configure and build tidesdb (Windows)
        if: runner.os == 'Windows'
        run: |
          cd tidesdb
          cmake -DTIDESDB_WITH_SANITIZER=OFF -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -S . -B build
          cmake --build build --config Release
          cmake --install build --config Release

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Build and test tidesdb-go
        run: |
          cd tidesdb-go
          go mod tidy
          go test ./...